.header{
    background: black;
}

.header__inner{
    margin: 0 auto;
    padding: 20px 100px;
    max-width: 1230px;
}

.header__logo{
    color: beige;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}